*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: coral;
}
.list{
    list-style: none;
    color: white;
    display: flex;
    margin-left: 40%;
    align-items: center;
    text-align: center;
    gap: 10px;

}
.list a{
    text-decoration: none;
    color: wheat;
    
}

.container{
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 86.4vh;
    background-color: rgb(51, 13, 13);
    font-size: 7px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: white;
   
}
.stack{
    display: flex;
    flex-wrap: nowrap ;
    justify-content: center;
    gap: 55px;
    padding-top: 70px;
    
}
.stack img{
    width: 100px ;
    height: 100px;
    color: transparent;
    
   
}
